*{
    padding: 0; margin: 0;
}
body{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
/* INSTA */
.insta{
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.whatsapp{
    position: fixed;
    right: 20px;
    bottom: 70px;
}
.insta img{
    width: 50px;
}
/* HEADER */
header{
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    background-color: rgb(255, 0, 212);
    color: rgb(253, 0, 0);
    overflow: hidden;
    padding: 10px 20%;
}

/* logo */
.logo{
    float: left;
    width: 40px;
}

/* nav */
nav{
    position: absolute;
    max-width: 700px;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* menu */
.menu{
    list-style-type: none;
}

/* link_menu */
.link_menu{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link_menu:hover{
    color: rgb(0, 0, 0);
    font-size: x-large;
}
.link_menu:active{
    font-size: x-large;
}

/* li_menu*/
.li_menu{
    display: inline-block;
    margin-left: 20px;
}
/* FIM HEADER */

/* MAIN */
main{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

/* img_head */
.img_head{
    background: url("./img/banner-inicio-reduzido.jpg"), no-repeat;
    background-size:  cover;
    background-position-x: -300px;
    width: 100%;
    height: 550px;
    text-align: center;
    position: relative;
}
.txt_head{
    max-width: 600px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translatey(-50%);
}
.title_head1{ 
    font-family: 'Faster One';
    font-size: 4rem;
}
.sub_title_head{ 
    font-size: 2rem;
    margin-bottom: 40px;
}
.btn_head{
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}
.btn_head:hover{
    background-color: blue;
}

/* CONTAINER */
.container{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

/* title início container*/
#title_inicio_container{
    font-size: xx-large;
    text-align: center;   
    padding-top: 10%;  
    padding-bottom: 20px;
}

/* CORTES */
.cortes{
    padding: 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.tipos_cortes{
    width: 30%;
    display: inline-block;
}
.img_corte{
    width: 100%;
}
.table_cortes{
    margin: auto;
}
.btn_corte{
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
}   
.btn_corte:hover{
    background-color: blue;
}

/* SECTION_FORM */
#section_form{
    padding-top: 5%;
    background: #ffa600;
    max-width: 600px;
    margin: auto;
    border-radius: 10% 0px;
    margin-top: 10%;
}
/* form */
.form{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.form input, .form textarea, .form select{
    box-sizing: border-box;
    color: red;
    display: block;
    margin: auto;
    font-size: large;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: green;
}
input[type="submit"]:active{
    font-size: x-large;
}

/* FOOTER */
footer{
    margin: auto;
    margin-top: 10%;
    padding: 40px;
    text-align: center;
    background-color: aqua;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
    .tipos_cortes{
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    header{
        padding: 0px;
    }
    
    /* logo */
    .logo{
        width: 0px;
    }
    
    /* nav */
    
    nav{
        position: sticky;
        max-width: 700px;
        top: 0%;
        right: 0px;
        transform: translate(0%, 0%);
        text-align: center;
    }
    .link_menu{
        float: none;
    }    
}

@media screen and (max-width: 350px) {
    .link_menu, .li_menu{
        float: none;
        display: block;
        margin: auto;
    }    
}